name: Scan My Zip File
on: [push] # This runs the scan every time you upload a file

jobs:
  dep-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Unzip the files
        # Replace 'my-project.zip' with your actual zip file name
        run: unzip Prod_TMS_Build4_061.zip -d ./to_scan 

      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: 'LeidosUpgradeB4P11'
          path: './to_scan' # This tells the scanner to look inside the unzipped folder
          format: 'HTML'
          # Add this line to only fail on very high vulnerabilities
          args: >
            --failOnCVSS 9
          
      - name: Save the Security Report
        uses: actions/upload-artifact@v4
        with:
          name: Security-Report
          path: 'reports'
